<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <!-- <div>
      <img src="../../assets/img/questioned-face.png" align="left">
      <div class="question">
        <p class="question">
          Do you believe in masks?
        </p>
        <button mat-button *ngIf="!readMore" (click)="readMore=!readMore">Read More</button>
        <div *ngIf="readMore">
          <p class="question">
            As citizens, we are examining the necessity, effectiveness, and impacts of wearing
            masks in public places during the COVID-19 outbreak.
          </p>
          <p class="question">
            CovidMeasures aim to provide some facts and perspectives to help your thinking.
            Feel free to contribute to the debate.
          </p>
          <button mat-button *ngIf="readMore" (click)="readMore=!readMore">Read Less</button>
        </div>
      </div>
    </div>

    <br>
    <hr> -->

    <div class="card card-border">
      <div class="card-header card-header-success">
        <h3 class="card-title">Map - Masks</h3>
      </div>
      <div class="card-body" style="height: 80vh;" *ngIf="countryMasksData">
        <app-map-masks [countryMasksData]="countryMasksData"></app-map-masks>
      </div>
      <div class="card-footer ">
        <div class="stats">
          <!-- Updated on [Date] -->
        </div>
        <div class="stats">
          Source: CovidMeasures Community & &nbsp;
          <a href="https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker" target="_blank">OxCGRT</a>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="answers_label && answers_value">
      <div class="col-sm-7 m-0 pt-1 chart-pos">
        <app-pie-chart
        [data]="answers_value"
        [labels]="answers_label"
        [backgroundColor]="backgroundColor"
        [maintainAspectRatio]="false"
        [lagendPosition]="'bottom'"
        [legendAlign]="'center'"
        ></app-pie-chart>
      </div>
      <div class="col-sm-5">
        <h3>Citizen opinion on mask effectiveness against coronavirus.</h3>
        <ul style="list-style: none;">
          <li *ngFor="let survey of survey_answers; let i = index" class="d-flex align-items-center  pr-3 pt-4">
            <div 
            style="width: 50px; height: 50px; border-radius: 50%;" 
            [ngStyle]="{'background': backgroundColor[i]}" 
            class="d-flex justify-content-center align-items-center mr-3">
              <span style="background-color: rgba(240, 248, 255, 0.171); font-weight: 900;">{{ survey.percent }}%</span>
            </div>
            <span>{{survey.answer}}</span>
          </li>
        </ul>
      </div>
    </div>

    <h3>Have a few seconds to spare?</h3>
    <br>
    <h4 style="padding-left: 4rem;"><b>Press play</b> below to start the 30-second survey, and let us know about masks in your area.</h4>
    <br>

    <div>
      <iframe src="https://www.videoask.com/fz1zar16c"
        allow="camera; microphone; autoplay; encrypted-media;"
        width="100%"
        height="600px"
        style="border: none; border-radius: 24px"
      >
      </iframe>
    </div>
    
  </div>
</div>
