<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <div>
      <img src="../../assets/img/questioned-face.png" align="left">
      <div class="question">
        <p class="question">
          Do you believe in masks?
        </p>
        <button mat-button *ngIf="!readMore" (click)="readMore=!readMore">Read More</button>
        <div *ngIf="readMore">
          <p class="question">
            As citizens, we are examining the necessity, effectiveness, and impacts of wearing
            masks in public places during the COVID-19 outbreak.
          </p>
          <p class="question">
            CovidMeasures aim to provide some facts and perspectives to help your thinking.
            Feel free to contribute to the debate.
          </p>
          <button mat-button *ngIf="readMore" (click)="readMore=!readMore">Read Less</button>
        </div>
      </div>
    </div>

    <br>
    <hr>

    <div class="card card-border">
      <div class="card-header card-header-success">
        <h3 class="card-title">Map - Masks</h3>
      </div>
      <div class="card-body" style="height: 80vh;" *ngIf="countryMasksData">
        <app-map-masks [countryMasksData]="countryMasksData"></app-map-masks>
      </div>
      <div class="card-footer ">
        <div class="stats">
          <!-- Updated on [Date] -->
        </div>
        <div class="stats">
          Source: CovidMeasures Community & &nbsp;
          <a href="https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker" target="_blank">OxCGRT</a>
        </div>
      </div>
    </div>

    <h3>Have a few seconds to spare?</h3>
    <br>
    <h4 style="padding-left: 4rem;"><b>Press play</b> below to start the 30-second survey, and let us know about masks in your area.</h4>
    <br>

    <div>
      <iframe src="https://www.videoask.com/fz1zar16c"
        allow="camera; microphone; autoplay; encrypted-media;"
        width="100%"
        height="600px"
        style="border: none; border-radius: 24px"
      >
      </iframe>
    </div>
    <hr>
    <div class="row justify-content-center" *ngIf="isClientReady">
      <div class="col-md-11">
        <disqus [identifier]="'/masksmk!kId'" [url]="'https://covidmeasures.info/masks'"></disqus>
      </div>
    </div>
  </div>
</div>
