<div>
  progress ar here

  <div
    class="progress position-relative d-flex"
    style="height: 50px; border-radius: 20px"
  >
    <div class="progress-bar" role="progressbar" style=" border-radius: 20px" [style.width]="'10%'"></div>
    <div
      class="justify-content-start d-flex position-absolute w-100"
      style="height: 50px; border-radius: 20px"
    >
      <div style="font-weight: bolder"  class="d-flex align-items-center pl-3">
        60% complete
      </div>
    </div>
  </div>
</div>
