<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <p>
      This page is currently being written. We need your help to gather relevant data from around the world. Please add your contribution.
    </p>

    <br>

    <div class="col-md-12">
      <div class="card card-border">

        <div class="card-header card-header-success">
          <h3 class="card-title">Surveillance Measures Per Country
            <a mat-raised-button class="nav-link float-right" type="button"
              color="primary" href="https://forms.gle/s5ecbqZnJJapACNR9" target="_blank"
            >
              <i class="material-icons">policy</i>
              <span>Add Your Contribution</span>
            </a>
          </h3>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of headers">
                  {{ row }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of table">
                  <td>{{ row.country }}</td>
                  <td>{{ row.name }}</td>
                  <td>{{ row.desc}}</td>
                  <td>{{ row.release }}</td>
                  <td>{{ row.device }}</td>
                  <td>{{ row.target }}</td>
                  <td>{{ row.geo }}</td>
                  <td>{{ row.big_data }}</td>
                  <td>{{ row.app }}</td>
                  <td>{{ row.other }}</td>
                  <td>{{ row.status }}</td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Source: CovidMeasures Community
          </div>
        </div>

      </div>
    </div>

  </div>
</div>