<div class="page-nav-container d-flex align-items-center">
  <div class="row page-nav" id="pageNavbar">
    <div class="col-1 px-0"></div>
    <div class="col-11 px-0">
      <ul class="px-0 d-flex justify-content-between">
        <li>Jump to:</li>
        <li
          class="section-link"
          *ngFor="let section of pageSections"
          (click)="scrollInto(section.sectionID)"
        >
          {{ section.name }}
        </li>
        <!-- <li class="section-link" (click)="scrollInto('impacts')">Impacts</li>
      <li class="section-link" (click)="scrollInto('theDebate')">Debate</li> -->
      </ul>
    </div>
  </div>
</div>
