/* --------------------------- PAGE NAVIGATION ----------------------------------*/
.page-nav-container {
  background-color: #fff;
  height: 150px;
}
.page-nav {
  width: 100%;
}
.nav-fixed {
  position: fixed !important;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 0px;
  height: auto;
  margin-left: -40px;
  background-color: #fff;
}

.page-nav ul {
  font-family: Roboto;
  list-style: none;
  font-weight: normal;
  color: #b4adad;
  font-size: 16px;
  max-width: 543px;
  padding-top: 20px;
}

.page-nav li.section-link {
  cursor: pointer;
}

.page-nav li.section-link:hover {
  color: #a7a0a0;
  font-weight: bold;
}
/* 
* when screen is small top nav will appear. there for in order to show fix page-navigator we must add margin
*/
@media (max-width: 992px) {
  .nav-fixed {
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  .nav-fixed {
    margin-top: 30px;
  }
}
