<div class="homepage_container">
  <p class="attribution">
    Virus image source: <a href="https://www.cdc.gov/">https://www.cdc.gov/</a>
  </p>
  <div class="top_card">
    <div class="white_card">
      <h1>
        Created by citizens around the world, for citizens.
      </h1>
      <p class="space">
        We're measuring the impact of government actions on communities
        worldwide.
      </p>
      <p>Help us build an accurate picture and share an impact today.</p>
      <a routerLink="/impacts" routerLinkActive="active">
        <button>Add an Impact</button>
      </a>
    </div>
    <div class="green_card">
      <h1>See how governments are responding to COVID-19 worldwide.</h1>
      <p class="space">
        How has the impact of the government measures changed over time?
      </p>
      <p>
        Explore COVID-19 measures and statistics in your country and worldwide.
      </p>
      <a routerLink="/country" routerLinkActive="active">
        <button>View Data by Country</button>
      </a>
    </div>
  </div>
  <div class="info_card">
    <h1>Information at a glance</h1>
    <div class="imgdiv">
      <img src="./../../assets/img/charts.gif" alt="Information at a Glance" />
    </div>
    <div class="inner center">
      <p>
        <strong>
          We’ve made digestible charts and tables from data released by government
          institutions, established media sources, and universities around the
          world.
        </strong>
      </p>
      <div class="logo_container">
        <div class="data_source_pic">
          <a href="https://coronavirus.jhu.edu/"
            ><img
              title="Johns Hopkins University"
              src="../assets/img/jhu.png"
              alt="Johns Hopkins University"
          /></a>
        </div>
        <div class="data_source_pic">
          <a href="https://www.who.int/"
            ><img
              title="World Health Organization"
              src="../assets/img/who.png"
              alt="World Health Organization"
          /></a>
        </div>
        <div class="data_source_pic">
          <a href="https://www.bsg.ox.ac.uk/research/research-projects"
            ><img
              title="University of Oxford"
              src="../assets/img/ox.png"
              alt="University of Oxford"
          /></a>
        </div>
      </div>
      <p>
        <strong>
          Our goal is to show you the most accurate statistics at a glance, so we
          can all make sense of what’s happening.
        </strong>
      </p>
      <a routerLink="/lockdown" routerLinkActive="active">
        <button>Compare Measures Globally</button>
      </a>
    </div>
  </div>
  <div class="spare_card">
    <h1>Have a few seconds to spare?</h1>
    <div style="padding-top: 2rem;">
      <p>
        Help answer our weekly questions about how you’re being affected by
        COVID-19. It’s just over there, to the right.
      </p>
      <p>
        Worried about what we’re doing with all this data? Check out the rest of
        our site. You’ll see we’re just collecting and reporting.
      </p>
      <a routerLink="/impacts" routerLinkActive="active">
        <button>Read more Impacts</button>
      </a>
    </div>
    <div class="pulse_check" style="border: none;">
      <iframe src="https://www.videoask.com/fz1zar16c"
        allow="camera; microphone; autoplay; encrypted-media;"
        width="100%"
        height="600px"
        style="border: none; border-radius: 24px"
      >
      </iframe>
    </div>
  </div>
  <div class="participate_card">
    <h1>Why participate?</h1>
    <div class="card_container">
      <div class="p_card">

        <label style="font-size: large;">
          Be heard
        </label>

        <img src="./../../assets/img/beheard.png" alt="Be heard" />

        Something on your mind, but reluctant to tell your friends or family?
        <br /><br />
        Tell us.
        <br /><br />
        Here’s a space to openly and anonymously express your thoughts.
      </div>
      <div class="p_card">
        <label style="font-size: large;">
          Build an accurate picture
        </label>
        <img
          src="./../../assets/img/buildacc.png"
          alt="Build an accurate picture"
        />
        Wondering how accurate the reporting is about other countries?
        <br /><br />
        We are.
        <br /><br />
        That’s why we’re asking you to help us see what’s really happening
        across the world.
      </div>
      <div class="p_card">
        <label style="font-size: large;">
          Gain perspective
        </label>
        <img src="./../../assets/img/perspective.png" alt="Gain perspective" />
        Thinking the world has gone crazy?
        <br /><br />
        We were always crazy.
        <br /><br />
        At least we’re here in solidarity. See how the crazy stacks up around
        the world, and enjoy the company.
      </div>
    </div>
  </div>
  <div class="footer_card">
    <p><strong>Let’s be friends! Follow us</strong></p>
    <img src="./../../assets/img/instagram_green.png" alt="instagram" />
  </div>
</div>
<!-- <div class="homepage_container">
  <p class="attribution">
    Virus image source: <a href="https://www.cdc.gov/">https://www.cdc.gov/</a>
  </p>
  <div class="row top_card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-7">
          <h1>
            Created by citizens around the world, for citizens.
          </h1>
        </div>
        <div class="col-12 col-md-5 inner">
          <p>
            We're measuring the impact of government actions on communities
            worldwide.
          </p>
          <p>Help us build an accurate picture and share an impact today.</p>
          <a href="https://www.covidmeasures.info/#/impacts"
            ><button>Add an Impact</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom_card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-7 inner">
          <p>
            How has the impact of the government measures changed over time?
          </p>
          <p>
            Explore COVID-19 measures and statistics in your country and
            worldwide.
          </p>
          <div class="row mb-4">
            <div class="innermost">
              <a href="https://coronavirus.jhu.edu/"
                ><img
                  title="Johns Hopkins University"
                  src="../assets/img/jhu.png"
                  alt="Johns Hopkins University"
              /></a>
            </div>
            <div class="innermost">
              <a href="https://www.who.int/"
                ><img
                  title="World Health Organization"
                  src="../assets/img/who.png"
                  alt="World Health Organization"
              /></a>
            </div>
            <div class="innermost">
              <a href="https://www.bsg.ox.ac.uk/research/research-projects"
                ><img
                  title="University of Oxford"
                  src="../assets/img/ox.png"
                  alt="University of Oxford"
              /></a>
            </div>
          </div>
          <a href="https://www.covidmeasures.info/#/country/"
            ><button>View Data by Country</button></a
          >
        </div>
        <div class="col-12 col-md-5 last">
          <h1>Reporting on global government responses to COVID-19.</h1>
        </div>
      </div>
    </div>
  </div>
</div> -->
