h1{
  font-weight:bold;
  font-size:2.5em;
}

p{
  font-size:1.2em;
}

button{
  background: #ed5658;
  color:black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 15px 15px 19px -22px rgba(0,0,0,0.83);
  -moz-box-shadow: 15px 15px 19px -22px rgba(0,0,0,0.83);
  box-shadow: 15px 15px 19px -22px rgba(0,0,0,0.83);
  border:none;
  padding:3% 8%;
}
