<div style="position:relative; overflow-x:hidden;">
  <p style="color:white; font-size:0.5em; position:absolute; bottom:0; right:0; padding-right:2%;">Virus image source: <a href="https://www.cdc.gov/">https://www.cdc.gov/</a></p>
    <div class="row" style="height:50vh; background-image: url('../assets/img/bg-virus.jpg'); background-repeat: no-repeat; background-size:cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-7">
            <h1 style="padding:15% 5% 0 25%;">Created by citizens around the world, for citizens.</h1>
          </div>
          <div class="col-12 col-md-5" style="padding:9% 10% 0 0;">
            <p>We're measuring the impact of government actions on communities worldwide.</p>
            <p>Help us build an accurate picture and share an impact today.</p>
            <a href="https://www.covidmeasures.info/#/impacts"><button style="margin-top:2%;">Add an Impact</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height:50vh; background-color:#81c285;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-7" style="padding:5% 10% 0 15%;">
            <p>How has the impact of the government measures changed over time?</p>
            <p>Explore COVID-19 measures and statistics in your country and worldwide.</p>
            <div class="row mb-4">
              <div class="col-md-2" style="padding-right:60px;">
                <a href="https://coronavirus.jhu.edu/"><img title="Johns Hopkins University" style="height:60px; width:auto;" src="../assets/img/jhu.png" alt="Johns Hopkins University"/></a>
              </div>
              <div class="col-md-2" style="padding-right:60px;">
                <a href="https://www.who.int/"><img title="World Health Organization" style="height:60px; width:auto;" src="../assets/img/who.png" alt="World Health Organization"/></a>

              </div>
              <div class="col-md-2" style="padding-right:60px;">
                <a href="https://www.bsg.ox.ac.uk/research/research-projects"><img title="University of Oxford" style="height:60px; width:auto;" src="../assets/img/ox.png" alt="University of Oxford"/></a>
              </div>
              <div class="col-md-6"></div>
            </div>
            <a href="https://www.covidmeasures.info/#/country/"><button>View Data by Country</button></a>
          </div>
          <div class="col-12 col-md-5" style="padding:4% 11% 0 0;">
            <h1>Reporting on global government responses to COVID-19.</h1>
          </div>
        </div>
      </div>
    </div>
</div>