<div class="homepage_container">
  <p class="attribution">
    Virus image source: <a href="https://www.cdc.gov/">https://www.cdc.gov/</a>
  </p>
  <div class="row top_card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-7">
          <h1>
            Created by citizens around the world, for citizens.
          </h1>
        </div>
        <div class="col-12 col-md-5 inner">
          <p>
            We're measuring the impact of government actions on communities
            worldwide.
          </p>
          <p>Help us build an accurate picture and share an impact today.</p>
          <a href="https://www.covidmeasures.info/#/impacts"
            ><button>Add an Impact</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom_card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-7 inner">
          <p>
            How has the impact of the government measures changed over time?
          </p>
          <p>
            Explore COVID-19 measures and statistics in your country and
            worldwide.
          </p>
          <div class="row mb-4">
            <div class="innermost">
              <a href="https://coronavirus.jhu.edu/"
                ><img
                  title="Johns Hopkins University"
                  src="../assets/img/jhu.png"
                  alt="Johns Hopkins University"
              /></a>
            </div>
            <div class="innermost">
              <a href="https://www.who.int/"
                ><img
                  title="World Health Organization"
                  src="../assets/img/who.png"
                  alt="World Health Organization"
              /></a>
            </div>
            <div class="innermost">
              <a href="https://www.bsg.ox.ac.uk/research/research-projects"
                ><img
                  title="University of Oxford"
                  src="../assets/img/ox.png"
                  alt="University of Oxford"
              /></a>
            </div>
          </div>
          <a href="https://www.covidmeasures.info/#/country/"
            ><button>View Data by Country</button></a
          >
        </div>
        <div class="col-12 col-md-5 last">
          <h1>Reporting on global government responses to COVID-19.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
