<!-- 
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Material Design Icons</h4>
              <p class="card-category">Handcrafted by our friends from
                  <a target="_blank" href="https://design.google.com/icons/">Google</a>
              </p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                      <div class="iframe-container d-none d-lg-block">
                          <iframe src="https://design.google.com/icons/">
                              <p>Your browser does not support iframes.</p>
                          </iframe>
                      </div>
                      <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                          <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                              <a href="https://design.google.com/icons/" target="_blank">Material Icons</a>
                          </h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="main-content">


<mat-form-field>
  <mat-label>Filter by Country</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="USA, France, China...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let row"> {{row.country}} </td>
    </ng-container>

    <!-- Total Cases Column -->
    <ng-container matColumnDef="total_cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases </th>
      <td mat-cell *matCellDef="let row"> {{row.total_cases | number}} </td>
    </ng-container>

    <!-- New Cases Column -->
    <ng-container matColumnDef="new_cases">
      <th mat-header-cell *matHeaderCellDef> New Cases </th>
      <td mat-cell *matCellDef="let row"> {{row.new_cases}} </td>
    </ng-container>

    <!-- Total Deaths Column -->
    <ng-container matColumnDef="total_deaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Deaths </th>
      <td mat-cell *matCellDef="let row"> {{row.total_deaths | number}} </td>
    </ng-container>

    <!-- New Deaths Column -->
    <ng-container matColumnDef="new_deaths">
      <th mat-header-cell *matHeaderCellDef> New Deaths </th>
      <td mat-cell *matCellDef="let row"> {{row.new_deaths}} </td>
    </ng-container>

    <!-- Recovered Column -->
    <ng-container matColumnDef="recovered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
      <td mat-cell *matCellDef="let row"> {{row.recovered | number}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>

</div>