
<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2>Lockdown Measures</h2>
    </div>

    <p>
      This page tracks government measures across the globe to reduce people's movement
      and activity outside their home. Our grassroots community is gathering data to understand
      their magnitude, their evolution and their consequences on society.
    </p>
    <p>
      This page puts the impacts of lockdown measures in perspective with the impacts
      of the COVID-19 epidemic on society. It also outlines countries using alternative
      approaches and compares their results with similar countries.
    </p>


    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-success">
          <h3 class="card-title ">Lockdown measures Overview</h3>
          <div class="btn-group">

            <button mat-raised-button *ngIf="covidVSSchoolRegion==='World'"
              class="float" type="button" color="primary">
              <span>World</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='World'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('World')">
              <span>World</span>
            </button>

            <button mat-raised-button *ngIf="covidVSSchoolRegion==='Northern America'"
              class="float" type="button" color="primary">
              <span>North America</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='Northern America'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('Northern America')">
              <span>North America</span>
            </button>

            <button mat-raised-button *ngIf="covidVSSchoolRegion==='Europe'"
              class="float" type="button" color="primary">
              <span>Europe</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='Europe'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('Europe')">
              <span>Europe</span>
            </button>

            <button mat-raised-button *ngIf="covidVSSchoolRegion==='Asia'"
              class="float" type="button" color="primary">
              <span>Asia</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='Asia'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('Asia')">
              <span>Asia</span>
            </button>
            
            <button mat-raised-button *ngIf="covidVSSchoolRegion==='Africa'"
              class="float" type="button" color="primary">
              <span>Africa</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='Africa'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('Africa')">
              <span>Africa</span>
            </button>

          </div>

            <br>

          <div class="btn-group">

            <button mat-raised-button *ngIf="covidVSSchoolRegion==='Oceania'"
              class="float" type="button" color="primary">
              <span>Oceania</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='Oceania'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('Oceania')">
              <span>Oceania</span>
            </button>

            <button mat-raised-button *ngIf="covidVSSchoolRegion==='Latin America and the Caribbean'"
              class="float" type="button" color="primary">
              <span>Latin America and the Caribbean</span>
            </button>
            <button mat-button *ngIf="covidVSSchoolRegion!=='Latin America and the Caribbean'"
              class="float" type="button" color="primary" (click)="covidVSSchoolChangeRegion('Latin America and the Caribbean')">
              <span>Latin America and the Caribbean</span>
            </button>

          </div>
        </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    People Impacted By Lockdown
                  </th>
                  <th>
                    Population Impacted By Curfew
                  </th>
                  <th>
                    Average Duration
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="left">
                      {{1 | number}}
                    </td>
                    <td class="center">
                      {{2 | number}}
                    </td>
                    <td class="center">
                      {{3 | number}} days
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
          </div>

          <div class="card-footer ">
            <div class="stats">
              Updated on 3rd April, 2020
            </div>
            <div class="stats">
              Source: CovidMeasures Community
            </div>
          </div>

      </div>
    </div>

    <hr>

    <h3>Detailed Overview</h3>

  </div>
</div>