<div class="main-content pt-md-0 px-md-0 px-lg-4">
  <div class="container-fluid">
    <div layout-align="end end">
      <h2 *ngIf="isMobile">
        <u>{{ titleService.getTitle().split(":")[0] }}</u>
      </h2>
    </div>
    <app-page-question
      [questionHeader]="
        'How crucial are testing and vaccines in fighting this pandemic? Join the discussion.'
      "
    >
      <div class="readMore">
        <p class="question">
          Through data on testing availability, requirements, and information on vaccine development,
          we are examining their importance in controlling the spread and overcoming the pandemic.
        </p>
      </div>
      <!-- <div class="readMore">
        <p class="question">
          As citizens, we are examining the necessity, effectiveness, and
          impacts of wearing masks in public places during the COVID-19
          outbreak.
        </p>
        <p class="question">
          CovidMeasures aims to provide facts and perspectives to enrich your
          reflections. We encourage you to contribute to the debate.
        </p>
      </div> -->
    </app-page-question>
    <!-- ------------------------------ PAGE Navigator ----------------------------------------->
    <app-page-navigator
      [pageSections]="[
        { name: 'Tests & Vaccines', sectionID: 'test&Vaccines' },
        { name: 'Debate', sectionID: 'theDebate' }
      ]"
    ></app-page-navigator>
    <!-- ------------------------------ Tests & Vaccines SECTION ----------------------------------------->
    <div class="test-vaccines" id="test&Vaccines">
      <app-page-separator [title]="'Tests & Vaccines'"></app-page-separator>
      <div class="container py-5" style="max-width: 1400px;">
        <div class="col-md-12">
          <div class="card card-border">
            <div class="card-header card-header-success">
              <h3 class="card-title">
                Testing: Positive Rate
              </h3>
            </div>

            <iframe
              src="https://ourworldindata.org/grapher/positive-rate-daily-smoothed?time=latest"
              style="
                width: 100%;
                height: 600px;
                border: 1px white;
                box-shadow: none;
              "
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="col-md-12">
      <div class="card card-border">
        <div class="card-header card-header-success">
          <h3 class="card-title">Detailed View For Each Country</h3>
        </div>

        <div class="card-body">
          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of testingTableHeaders">
                  {{ row }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of testingData | paginate: { itemsPerPage: 25, currentPage: pageIndicator }">
                  <td class="country">{{ row.name }}</td>
                  <td>{{ row.positive_rate | number:'.0-3' }}</td>
                  <td>{{ row.daily_test || 'No Data' }}</td>
                  <td>{{ row.cases }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <pagination-controls
                    class="my-pagination"
                    (pageChange)="pageIndicator = $event"
                  ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------- DEBATE SECTION -------------------------------------->
    <div class="debate" id="theDebate">
      <app-page-separator [title]="'The Debate'"></app-page-separator>
      <div class="pt-5">
        <div class="row justify-content-center p-0">
          <div class="col-12 p-sm-0 p-md-1" style="width: 100%">
            <iframe
              data-loaded="true"
              title="Free Will or Determinism: Do We Have Free Will? — kialo.com"
              src="https://www.kialo.com/how-important-are-vaccines-to-fight-covid-19-pandemic-39965?embedder=https://support.kialo.com&amp;utm_source=support.kialo.com&amp;utm_medium=embed"
              style="border: 0px none"
              allowfullscreen=""
              width="100%"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
