p{
  margin: 0 6% 4% 6%;
  text-align: justify;
}

h3{
  margin:4.5% 3% 2% 3%;
}

a{
  color: #f83c45;
  text-decoration: underline;
}
a:hover{
  color: #c0242c;
}
.team img{
  width:300px;
}

/* ----------------------------- PROFILES ------------------------------------*/

.hover-img {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
}

.profile {
  position: absolute;
  top: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.hover-img:hover .profile {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:200px;
}

.text p{
  color: white;
  font-size: 1em;
  text-align: center;
}

#logos {
  justify-content: center;
}

#logos a {
  padding-right:2%;
}