<div class="main-content">
  <div class="container-fluid">
    <hr>
    <h3>The Project</h3>
    <p>
      {{aboutus_intro_1_p1}}
    </p>
    <h3>Why This Project?</h3>
    <p>
      {{aboutus_intro_1_p2}}
    </p>  
     <h3>The Team</h3>
     <div class="row mt-3">
      <div class="col-12 col-md-4 hover-img">
        <img src="../assets/img/fred.jpg" alt="Fred"/>
        <div class="profile">
          <div class="text">
            <p>Gaëlle Gaban</p>
            <p>26 y.o.</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 hover-img">
        <img src="../assets/img/arman.jpg" alt="Arman"/>
        <div class="profile">
          <div class="text">
            <p>Gaëlle Gaban</p>
            <p>26 y.o.</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 hover-img">
        <img src="../assets/img/ed.jpg" alt="Edward"/>
        <div class="profile">
          <div class="text">
            <p>Gaëlle Gaban</p>
            <p>26 y.o.</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>
     </div>
     <div class="row mt-3">
      <div class="col-12 col-md-4 hover-img">
        <img src="../assets/img/gaelle.jpg" alt="Gaelle"/>
        <div class="profile">
          <div class="text">
            <p>Gaëlle Gaban</p>
            <p>26 y.o.</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 hover-img">
        <img src="../assets/img/blank.jpg" alt="Join"/>
        <div class="profile">
          <div class="text">
            <button><a href="https://forms.gle/DmmnetQ76by64hF68\" target="_blank">Join the team!</a></button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 hover-img">
        <!-- <img src="../assets/img/gaelle.jpg" alt="Gaelle"/>
        <div class="profile">
          <div class="text">
            <p>Gaëlle Gaban</p>
            <p>26 y.o.</p>
            <p>Belgium</p>
          </div>
        </div> -->
      </div>
    </div>
    <p>
    Interest to join the team? <a href="https://forms.gle/DmmnetQ76by64hF68\" target="_blank">Click here</a>.
    </p>
    <h3>The Data</h3>
    <p>
    We only use reputable sources of information from international government institutions, established media, or universities. When data is not yet available, we engage our user community to collect and curate new datasets and share them with the world.
    </p>
    <h3>Partnerships</h3>
    <p>
    If your organization is willing&nbsp;to support civic engagement during the crisis, please contact us at <a href="mailto:contact@covidmeasures.info">contact@covidmeasures.info</a>.
    </p>
    <h4>Disclaimer</h4>
    <p>
      {{disclaimer_1}}
    </p>
  </div>
</div>