<div class="main-content">
  <div class="container-fluid">
    <h3>About Us</h3>
    <hr>
    <p>
      CovidMeasures website was born from the collaboration of regular citizens willing to better understand this unsettling episode of mankind.
      Tired of the continuous broadcasting of the same graphs and data points about the expansion of the epidemic on social media and mass media,
      we’ve decided to focus on an aspect mostly overlooked, but nonetheless critical, of this crisis - government measures and their consequences.
      On this website, you’ll find a comprehensive database curated by our community on the government measures and their every-day consequences on citizens,
      businesses and the environment. You’ll also find an unconventional way of looking at COVID-19 data, comparing them to other dramatic consequences of life.
    </p>
    <p>
      We’ve refrained our desire to predict the future and/or to share our own views and stay as objective as humanly possible.
      We sincerely hope that the content on this website will help you shape your own opinion on what has happen,
      is happening and will happened free of social influence. Feel free to share your findings with others and participate in the public debate.
      But remember that the content of this website has put been together with very limited means; that some figures are only estimates,
      not actual numbers; and that there may still be some errors. If you find an error or have access to a better dataset,
      please <u>help us to improve this website</u>.
    </p>

    <h4>Disclaimer</h4>
    <p>
      The views expressed on this website are the combination of personal views of individuals collaborating on the <b>CovidMeasures</b> project
      and do not represent the opinion of any organization whatsoever to which those individuals have been, are now, or will be associated in the future.
    </p>
  </div>
</div>
