<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <p>
      This page presents the International Travel status worldwide.
    </p>
    <div class="col-12">
      <div class="card px-4 pb-3">
       
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-border">
        <div class="card-header card-header-success">
          <h3 class="card-title">
            Map - International Travel Measures
          </h3>
        </div>

          <iframe src="https://ourworldindata.org/grapher/international-travel-covid?year=2020-05-11" style="width: 100%; height: 600px; border: 1px white; box-shadow: none;"></iframe>
       
      </div>
    </div>
    <hr>

    <br>

    <div class="col-md-12">
      <div class="card card-border">

        <div class="card-header card-header-success">
          <h3 class="card-title">
            International Travel Measures Per Country
            <a mat-raised-button class="nav-link float-right" type="button"
              color="primary" href="https://forms.gle/dqXtKeWAfjUj66hX8" target="_blank"
            >
            <i class="material-icons">airplanemode_active</i>
              <span>Add Your Contribution</span>
            </a>
          </h3>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of headers">
                  {{ row }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of table">
                  <td>{{ row.country }}</td>
                  <td>{{ row.ban }}</td>
                  <td>{{ row.quarantine}}</td>
                  <td>{{ row.testing }}</td>
                  <td>{{ row.boarders }}</td>
                  <td>{{ row.other }}</td>
                  <td>{{ row.except }}</td>
                  <td>{{ row.start }}</td>
                  <td>{{ row.end }}</td>
                  <td>{{ row.status }}</td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Source: CovidMeasures Community
          </div>
        </div>

      </div>
    </div>

  </div>
</div>