/* --------------------------- GENERAL ----------------------------- */
p{
  margin: 0 6% 4% 6%;
  text-align: justify;
}

p.align-weight{
  text-align:center;
  font-weight:900;
  font-size:1.2em;
}

p.center{
  text-align:center;
}

.weight{
  font-weight:900;
}

p.size{
  font-size:1.2em;
}

p.left-align {
  margin:0 0 1% 0;
  text-align:left;
}

p.margin-padding {
  margin:0;
  padding-bottom: 4%;
}

span.size {
  font-size:1.3em;
}

.bold {
  font-weight: bold;
}

i.size-padding {
  font-size:2.5em;
  padding:2%;
}

h3{
  margin:4.5% 3% 0 3%;
}

a{
  color: #ed5658;
  text-decoration: underline;
}
a:hover{
  color: #e03b3e;
}

a.decor-off {
  text-decoration: none;
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

div.text-align {
  text-align: center;
}

.select-color {
  color: rgb(52, 107, 186);
}

.mb5 {
  margin-bottom:5%;
}

.mt3 {  
  margin-top:3%;
}

.chart-pos {
  position: relative;
  height: 60vh
}

/* --------------------------- HEADERS ----------------------------- */

.card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card.bg-success, .card.card-rotate.bg-success .front, .card.card-rotate.bg-success .back {
  background: #333b33;
}
.card .card-header-success .card-icon, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card .card-header-success .card-text {
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 56, 68, 0.4);
  -moz-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 56, 68, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 56, 68, 0.4);
}

/* --------------------------- TABLES ----------------------------- */
td.left, td.center {
  font-size: 1.3rem;
  text-align: left;
}

.table thead th {
  font-size: 0.95rem;
  font-weight: 500;
  border-top-width: 0;
  border-bottom-width: 1px;
  vertical-align: top;
}

.gov-measures td {
  text-align: center;
}

.gov-measures .text-primary{
  height:73px;
}

/* --------------------------- BUTTONS ---------------------------------*/

/*non-active button*/
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  background-color: #e9e9e9;
  margin: 0.2%;
  border-radius:28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
}

/*non-active button hover*/
.mat-button:hover, .mat-icon-button:hover, .mat-stroked-button:hover, .mat-flat-button:hover {
  background-color: #e6dede;
  margin: 0.2%;
  border-radius:28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
}

/*non-active button text*/
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #aaa5a5;
}
/*non-active button text hover*/
.mat-button.mat-primary:hover, .mat-icon-button.mat-primary:hover, .mat-stroked-button.mat-primary:hover {
  color: #e03b3e;
}

/*active button*/
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #ed5658;
  border-radius:28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  margin: 0.2%;
}
/*active button hover*/
.mat-flat-button.mat-primary:hover, .mat-raised-button.mat-primary:hover, .mat-fab.mat-primary:hover, .mat-mini-fab.mat-primary:hover {
  background-color: #e03b3e;
  margin: 0.2%;
}
/*active button text*/
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  color: black;
}

.card-header a {
  text-decoration: none;
}
/* --------------------------- CONTENT ----------------------------------*/

/*columns names*/
.text-primary {
  color: #da474c !important;
}

.card{
  box-shadow:none;
}

.card-border{
  border:1px solid rgba(0, 0, 0, 0.4);
  border-radius:6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.card .card-country {
  background: #ed5658;
  font-size: large;
  font-weight: 500;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 56, 68, 0.4);
  -moz-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 56, 68, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 56, 68, 0.4);
}

.btn-primary {
  background: #da474c !important;
}

.card-citizen{
  margin: 1% 0;
}
/**************************CARD-GRID*****************************/
.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5em;
  margin: auto;
}
@media all and (max-width: 1180px) and (min-width: 990px) {
  .card-grid {
    grid-template-columns: auto auto;
  }
}
@media all and (max-width: 935px) {
  .card-grid {
    grid-template-columns: auto auto;
  }
}
@media all and (max-width: 767px) {
  .card-grid {
    grid-template-columns: auto;
  }
}
