
<div class="main-content pt-md-0">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf=isMobile><u>{{titleService.getTitle()}}</u></h2>
    </div>

    <h3 class="mt-md-0 pt-md-0">COVID-19 Evolution Day by Day</h3>

    <div class="card ">
      <div class="card-body">
        <mat-label><strong>Choose Country</strong></mat-label>
          <mat-select [(value)]="countryView" (selectionChange)="countryChangeView($event.value)">
            <mat-option *ngFor="let country of countryList" [value]="country.value">
              {{ country.viewValue }}
            </mat-option>
          </mat-select>
      </div>
    </div>
    <div class="card" >
      <div class="card-header card-header-success">
        <h3 class="card-title">Reported COVID-19 
          <strong>Infection Cases</strong> 
          & 
          <strong>Deaths</strong>
        </h3>
      </div>

      <div class="card-body p-1">
        <div id="wrapper" class="pt-2 pt-md-3" style="position: relative; height: 60vh">
          <canvas id=countryChartAllCases></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          Updated on {{casesLastUpdate}}
        </div>
        <div class="stats">
          Source:
          <a
            href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
          >ECDC</a></div>
      </div>
    </div>
    <br>
  </div>
</div>
