<app-page-loaders [hidden]="isClientReady"></app-page-loaders>
<div class="main-content pt-md-0">
  <div class="container-fluid">
    <div layout-align="end end">
      <h2 class="bold" *ngIf="isMobile">
        <u>{{ titleService.getTitle().split(":")[0] }}</u>
      </h2>
    </div>

    <app-page-question
      [questionHeader]="
        ' When did governments start taking action, and what were the effects? Join the discussion.'
      "
    >
      <div class="readMore">
        <p class="question">
          Witnessing the effects within our own countries, we are examining the
          timing, duration, and severity of the measures taken by our
          governments in response to the COVID-19 outbreak.
        </p>
        <p class="question">
          To answer this question seriously, we need to understand first:
        </p>
        <ul>
          <li>When did governments start taking action?</li>
          <li>What were the sequence of measures taken?</li>
          <li>
            How effective were each country’s measures in comparison to others?
          </li>
        </ul>
        <p class="question">
          CovidMeasures aims to provide facts and perspectives to enrich your
          reflections. We encourage you to contribute to the debate.
        </p>
      </div>
    </app-page-question>
    <!-- ------------------------------ PAGE Navigator ----------------------------------------->
    <app-page-navigator
      [pageSections]="[
        { name: 'Global Data', sectionID: 'globalData' },
        { name: 'Impacts', sectionID: 'impacts' },
        { name: 'Comments', sectionID: 'theComments' }
      ]"
    ></app-page-navigator>
    <!-- ------------------------------ GLOBAL DATA SECTION ----------------------------------------->
    <div class="global-data" id="globalData">
      <div class="divider d-flex">
        <div class="" style="width: 20%;">
          <hr class="hr-left" />
        </div>
        <div class="title text-center">Global Data</div>
        <div class="w-100">
          <hr class="hr-right" />
        </div>
      </div>
      <div class="container pt-3" style="max-width: 1400px;">
        <h3>Government measures in response to COVID-19</h3>
        <div class="row pl-5">
          <div class="col-md-5">
            <div class="card">
              <div class="card-body card-country">
                <mat-select
                  [(value)]="countryView"
                  (selectionChange)="countryChangeView($event.value)"
                >
                  <mat-option
                    *ngFor="let country of countryList"
                    [value]="country.value"
                  >
                    {{ country.viewValue }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-md-8"></div>
        </div>

        <div class="form-row">
          <div class="col-md-4 text-center">
            <div class="card card-border">
              <div class="card-header card-header-success">
                <h4 class="card-title">Educational Facilities Closure</h4>
              </div>
              <div class="text-center">
                <i class="material-icons size-padding">school</i>
                <p class="align-weight">
                  Started On {{ schoolClosure.date | date }}
                </p>
                <p class="align-weight">Currently {{ schoolClosure.status }}</p>
                <div class="d-flex justify-content-end">
                  <a
                    class="decor-off"
                    data-toggle="collapse"
                    href="#collapseSchoolClosure"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseSchoolClosure"
                  >
                    <h4
                      class="d-flex justify-content-center text-primary px-3 weight"
                    >
                      More
                      <i class="material-icons">arrow_drop_down</i>
                    </h4>
                  </a>
                </div>
                <div class="collapse" id="collapseSchoolClosure">
                  <div class="bg-light py-3 m-0">
                    <p>
                      <span class="weight">Current coverage:</span>
                      {{ schoolClosure.current_coverage }}
                    </p>
                    <p>
                      <span class="weight">Started reopening on:</span>
                      {{ schoolClosure.start_reopening }}
                    </p>
                    <p>
                      <span class="weight">Ended measures on:</span>
                      {{ schoolClosure.end }}
                    </p>
                    <p>{{ schoolClosure.comment }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card card-border">
              <div class="card-header card-header-success">
                <h4 class="card-title">Movement Restrictions</h4>
              </div>
              <div>
                <i class="material-icons size-padding">lock</i>
                <p class="align-weight">
                  Started on {{ lockdown.date | date }}
                </p>
                <p class="align-weight">Currently {{ lockdown.status }}</p>
                <div class="d-flex justify-content-end">
                  <a
                    class="decor-off"
                    data-toggle="collapse"
                    href="#collapseMovementRestriction"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseMovementRestriction"
                  >
                    <h4
                      class="d-flex justify-content-center text-primary px-3 weight"
                    >
                      More
                      <i class="material-icons">arrow_drop_down</i>
                    </h4>
                  </a>
                </div>
                <div class="collapse" id="collapseMovementRestriction">
                  <div class="bg-light py-3 m-0">
                    <p>
                      <span class="weight">Current coverage:</span>
                      {{ lockdown.current_coverage }}
                    </p>
                    <p>
                      <span class="weight">Type of restrictions:</span>
                      {{ lockdown.restriction_type }}
                    </p>
                    <p>
                      <span class="weight">Started softening measures on:</span>
                      {{ lockdown.start_reopening }}
                    </p>
                    <p>
                      <span class="weight">Ended measures on:</span>
                      {{ lockdown.end }}
                    </p>
                    <p>{{ lockdown.comment }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card card-border">
              <div class="card-header card-header-success">
                <h4 class="card-title">Businesses Closure</h4>
              </div>
              <i class="material-icons size-padding">store</i>
              <p class="align-weight">
                Started on {{ businessClosure.date | date }}
              </p>
              <p class="align-weight">Currently {{ businessClosure.status }}</p>
              <div class="d-flex justify-content-end">
                <a
                  class="decor-off"
                  data-toggle="collapse"
                  href="#collapseBusiness"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseBusiness"
                >
                  <h4
                    class="d-flex justify-content-center text-primary px-3 weight"
                  >
                    More
                    <i class="material-icons">arrow_drop_down</i>
                  </h4>
                </a>
              </div>
              <div class="collapse" id="collapseBusiness">
                <div class="bg-light py-3 m-0">
                  <p>
                    <span class="weight">Start softening date:</span>
                    {{ businessClosure.start_reopening_business }}
                  </p>
                  <p>
                    <span class="weight">Ended measures on:</span>
                    {{ businessClosure.end_business }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="card card-border">
              <div class="card-header card-header-success">
                <h4 class="card-title">International Travel</h4>
              </div>
              <i class="material-icons size-padding">flight_land</i>
              <p class="align-weight">Started on {{ travel.start | date }}</p>
              <p class="align-weight">Currently {{ travel.status }}</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="card card-border">
              <div class="card-header card-header-success">
                <h4 class="card-title">Masks</h4>
              </div>
              <i class="material-icons size-padding">healing</i>
              <p class="align-weight">
                Started on No Data
              </p>
              <p class="align-weight">
                Currently No data
              </p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="card card-border">
              <div class="card-header card-header-success">
                <h4 class="card-title">Testing</h4>
              </div>
              <i class="material-icons size-padding">local_hospital</i>
              <p class="align-weight">
                Started on No data
              </p>
              <p class="align-weight">
                Currently No data
              </p>
            </div>
          </div>
        </div>

        <div>
          <p class="text-primary margin-padding">
            <b
              ><a href="https://forms.gle/e6mXPravJkLtRWPq5" target="_blank"
                >Is this information not up-to-date?</a
              ></b
            >
          </p>
        </div>

        <h3 class="mb5">Evolution of COVID-19 in the country</h3>
        <app-evolution-country
          [countryView]="countryView"
          [countryList]="countryList"
          [evolution]="evolution"
          *ngIf="isClientReady"
        ></app-evolution-country>
        <br />
      </div>
    </div>

    <!-- ------------------------------ IMPACTS SECTION ----------------------------------------->
    <div class="impacts-data" id="impacts">
      <div class="divider d-flex" style="margin-top: 89px;">
        <div class="" style="width: 20%;">
          <hr class="hr-left" />
        </div>
        <div class="title text-center">
          Impacts
        </div>
        <div class="w-100">
          <hr class="hr-right" />
        </div>
      </div>
      <div class="container pt-5" style="max-width: 1400px;">
        <h3>Government Measures' Impacts On Citizens</h3>

        <div class="card center">
          <div class="card-body">
            <ng-container *ngIf="isMobile">
              <mat-select
                [(value)]="currentOption"
                (selectionChange)="changeViewOption($event.value)"
              >
                <mat-option
                  class="select-color"
                  *ngFor="let option of options"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </ng-container>

            <div *ngIf="!isMobile" class="center">
              <ng-container *ngFor="let option of options">
                <button
                  mat-raised-button
                  *ngIf="currentOption === option"
                  class="float"
                  type="button"
                  color="primary"
                >
                  <span>{{ option }}</span>
                </button>

                <button
                  mat-button
                  *ngIf="currentOption !== option"
                  class="float"
                  type="button"
                  color="primary"
                  (click)="changeViewOption(option)"
                >
                  <span>{{ option }}</span>
                </button>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row card-grid">
          <div class="card card-border">
            <div class="card-header card-header-success">
              <h4 class="card-title">Children Homeschooling</h4>
            </div>

            <div class="card-body">
              <table class="table">
                <thead class="text-primary">
                  <th>Children Impacted</th>
                  <th>Cumulated Years At Home</th>
                </thead>
                <tbody>
                  <td class="left">
                    {{ schoolClosure.impacted_children | number }}
                  </td>
                  <td class="center">
                    {{ schoolClosure.years | number: ".0-0" }}
                  </td>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card card-border">
            <div class="card-header card-header-success">
              <h4 class="card-title">People Staying Inside</h4>
            </div>

            <div class="card-body">
              <table class="table">
                <thead class="text-primary">
                  <th>People Impacted</th>
                  <th>Cumulated Years At Home</th>
                </thead>
                <tbody>
                  <td class="left">{{ countryImpactedPeople | number }}</td>
                  <td class="center">
                    {{ countryCumulatedYears | number: ".0-0" }}
                  </td>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card card-border">
            <div class="card-header card-header-success">
              <h4 class="card-title">Economic Slowdown</h4>
            </div>

            <div class="card-body">
              <table class="table">
                <thead class="text-primary">
                  <th>Number of Days</th>
                </thead>
                <tbody>
                  <td class="center">{{ businessClosure.days | number }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card card-border">
            <div class="card-header card-header-success">
              <h3 class="card-title">
                List of Impacts in {{ currentCountryName }}
              </h3>
            </div>

            <div class="row mt3" [ngClass]="{ 'mobile-table-text': isMobile }">
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h4>
                  Tell us about other impacts of government measures in
                  {{ currentCountryName }}
                </h4>
                <p class="left-align">
                  We want to hear both positive and negative impacts of those
                  measures.<br />
                  <!-- Vote for the most impactful in your life and the life of others around you (coming soon).<br> -->
                  <b>
                    An impact can be mental, physical, direct, or indirect - an
                    impact is any change in your life.
                  </b>
                </p>
              </div>
              <div class="col-md-3">
                <button
                  id="addImpact"
                  class="decor-off"
                  mat-raised-button
                  class="nav-link float-right"
                  type="button"
                  color="primary"
                >
                  <span class="span.size">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add an Impact
                  </span>
                </button>
              </div>
              <div class="col-md-1"></div>
            </div>
            <hr />
            <div class="card m-0 p-0 px-sm-2 pt-2">
              <div class="card-body m-0 p-0">
                <div class="card m-0 p-0 px-sm-2">
                  <div class="card-body m-0 p-0">
                    <div class="content table-responsive table-full-width">
                      <table class="table">
                        <thead>
                          <th
                            class="text-primary"
                            *ngFor="let row of impactHeaders"
                          >
                            {{ row }}
                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of impactTable">
                            <td>{{ row.measure }}</td>
                            <td>{{ row.impact }}</td>
                            <td>{{ row.description }}</td>
                            <td *ngIf="row.source.startsWith('http')">
                              <a href="{{ row.source }}" target="_blank">{{
                                row.source.split("/")[2]
                              }}</a>
                            </td>
                            <td *ngIf="!row.source.startsWith('http')">
                              {{ row.source }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <div class="stats">
                    Source: CovidMeasures Community
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------- COMMENTS SECTION -------------------------------------->
    <div id="theComments">
      <div class="divider d-flex" style="margin-top: 89px;">
        <div class="" style="width: 20%;">
          <hr class="hr-left" />
        </div>
        <div class="title text-center">
          Comments
        </div>
        <div class="w-100">
          <hr class="hr-right" />
        </div>
      </div>
      <div class="container pt-5" style="max-width: 1400px;">
        <div class="row justify-content-center p-0">
          <div class="col-12 p-sm-0 p-md-1" style="width: 100%;">
            <div *ngIf="lockdownData">
              <app-disqus-comments
                [uniqueString]="'$wrID'"
                [uniqueAll]="true"
                [baseUrl]="'https://covidmeasures.info'"
                [page]="'country'"
                [countriesData]="lockdownData.countries"
                [countryAlpha3]="countryView"
              ></app-disqus-comments>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
