<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <p>
      {{ death_intro_1 }}
    </p>
    <p>
      {{ death_intro_2 }}
    </p>

    <div class=" row">
      <div class="col-lg-12">
        <div class="card card-border">

          <div class="card-header card-header-success">
            <h3 class="card-title">COVID-19 Death compared to Other Causes of Death</h3>

            <div *ngIf="isMobile">
              <mat-label>Choose Time Interval</mat-label>
              <mat-select [(value)]="deathStatsPeriod" (selectionChange)="changeDeathStatPeriod($event.value)">
                <mat-option *ngFor="let date of dates" [value]="date.value">
                  {{date.value}}
                </mat-option>
              </mat-select>
            </div>

            <ng-container class="btn-group" *ngIf="!isMobile">
              <ng-container *ngFor="let date of dates">
                <button mat-raised-button *ngIf="deathStatsPeriod===date.value"
                  class="float" type="button" color="primary">
                  <span>{{ date.value }}</span>
                </button>
  
                <button mat-button *ngIf="deathStatsPeriod!==date.value"
                  class="float" type="button" color="primary"
                  (click)="changeDeathStatPeriod(date.value)">
                  <span>{{ date.value }}</span>
                </button>
              </ng-container>
            </ng-container>

          </div>

          <div class=" card-body">
            <canvas id="DeathCausesChart" height="500"></canvas>
          </div>

          <div class="card-footer ">
            <div class="stats">
              Updated on {{ today | date }}
            </div>
            <div class="stats">
              Source: <a href="https://ourworldindata.org/causes-of-death"> Our World In Data</a> &nbsp; & &nbsp;
              <a
                href="https://coronavirus.jhu.edu/"
              >JHU</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <p>
      {{death_graph_1_below}}
    </p>
    <p style="text-align: right;">
      <em>{{death_graph_1_below_last_update}}</em>
    </p>

    <hr>
    <h3>Understanding COVID-19 Death By Age Range</h3>

    <div class="col-lg-12">
      <div class="card card-border">

        <div class="card-header card-header-success">
          <h3 class="card-title">COVID-19 Death Estimate By Age Range</h3>

          <div *ngIf="isMobile">
            <mat-label>Choose Time Interval</mat-label>
            <mat-select [(value)]="estimationStatsPeriod" (selectionChange)="deathEstimationPeriodSwitch($event.value)">
              <mat-option *ngFor="let date of dates" [value]="date.value">
                {{date.value}}
              </mat-option>
            </mat-select>

            <hr>

            <mat-label>Choose Region</mat-label>
            <mat-select [(value)]="deathEstimationLocation" (selectionChange)="deathEstimationSwitch($event.value)">
              <mat-option *ngFor="let location of locations" [value]="location.value">
                {{location.value}}
              </mat-option>
            </mat-select>
          </div>

          <ng-container *ngIf="!isMobile">
            <ng-container *ngFor="let date of dates">
              <button mat-raised-button *ngIf="estimationStatsPeriod===date.value"
                class="float" type="button" color="primary">
                <span>{{ date.value }}</span>
              </button>

              <button mat-button *ngIf="estimationStatsPeriod!==date.value"
                class="float" type="button" color="primary"
                (click)="deathEstimationPeriodSwitch(date.value)">
                <span>{{ date.value }}</span>
              </button>
            </ng-container>

          <hr>

            <ng-container *ngFor="let location of locations">
              <button mat-raised-button *ngIf="deathEstimationLocation===location.value"
                class="float" type="button" color="primary">
                <span>{{ location.viewValue }}</span>
              </button>

              <button mat-button *ngIf="deathEstimationLocation!==location.value"
                class="float" type="button" color="primary"
                (click)="deathEstimationSwitch(location.value)">
                <span>{{ location.viewValue }}</span>
              </button>
            </ng-container>
          </ng-container>
        </div>

        <div class="card-body">
          <canvas id="covidDeathEstimationChart" height="400"></canvas>
        </div>

        <div class="card-footer ">
          <div class="stats">
            Updated on {{ today | date }}
          </div>
          <div class="stats">
            Source: &nbsp; <a href="https://www.un.org/en/development/desa/publications/world-population-prospects-2015-revision.html">
              United Nations
            </a> &nbsp; & &nbsp;
            <a
              href="https://coronavirus.jhu.edu/"
            >JHU</a>
          </div>
        </div>

      </div>
    </div>

    <p>
      {{ death_graph_2_below }}
    </p>
    <p style="text-align: right;">
      <em>{{ death_graph_1_below_last_update }}</em>
    </p>
    <p>
      <i>
        Note: the age distribution figures are only <u>estimates</u> based on a
        <a href="https://www.who.int/docs/default-source/coronaviruse/who-china-joint-mission-on-covid-19-final-report.pdf" target="_blank">WHO study</a> on the COVID-19 death rate, not actual figures.
      </i>
    </p>

    <hr>
    <h3>Understanding How COVID-19 Increases Death Rate By Age</h3>

    <div class="col-lg-12">
      <div class="card card-border">

        <div class="card-header card-header-success">
          <h3 class="card-title">Death Estimate By Age Range</h3>

          <div *ngIf="isMobile">
            <mat-label>Choose Time Interval</mat-label>
            <mat-select [(value)]="deathCausesPeriod" (selectionChange)="deathCausesPeriodSwitch($event.value)">
              <mat-option *ngFor="let date of dates" [value]="date.value">
                {{date.value}}
              </mat-option>
            </mat-select>

          <hr>

            <mat-label>Choose Region</mat-label>
            <mat-select [(value)]="deathCausesLocation" (selectionChange)="deathCausesLocationSwitch($event.value)">
              <mat-option *ngFor="let location of locations" [value]="location.value">
                {{location.value}}
              </mat-option>
            </mat-select>
          </div>

          <ng-container class="btn-group" *ngIf="!isMobile">

            <ng-container *ngFor="let date of dates">
              <button mat-raised-button *ngIf="deathCausesPeriod===date.value"
                class="float" type="button" color="primary">
                <span>{{ date.value }}</span>
              </button>

              <button mat-button *ngIf="deathCausesPeriod!==date.value"
                class="float" type="button" color="primary"
                (click)="deathCausesPeriodSwitch(date.value)">
                <span>{{ date.value }}</span>
              </button>
            </ng-container>

          <hr>

            <ng-container *ngFor="let location of locations">
              <button mat-raised-button *ngIf="deathCausesLocation===location.value"
                class="float" type="button" color="primary">
                <span>{{ location.viewValue }}</span>
              </button>

              <button mat-button *ngIf="deathCausesLocation!==location.value"
                class="float" type="button" color="primary"
                (click)="deathCausesLocationSwitch(location.value)">
                <span>{{ location.viewValue }}</span>
              </button>
            </ng-container>
          </ng-container>
        </div>

        <div class="card-body">
          <canvas id="deathCausesChart" height="400"></canvas>
        </div>

        <div class="card-footer ">
          <div class="stats">
            Updated on {{ today | date }}
          </div>
          <div class="stats">
            Source: &nbsp; <a href="https://www.un.org/en/development/desa/publications/world-population-prospects-2015-revision.html">
              United Nations
            </a> &nbsp; & &nbsp;
            <a
              href="https://coronavirus.jhu.edu/"
            >JHU</a>
          </div>
        </div>

      </div>
    </div>

    <p>
      {{ death_graph_3_below }}
    </p>
    <p style="text-align: right;">
      <em>{{ death_graph_3_below_last_update }}</em>
    </p>
    <p>
      <i>
        Note: this graph doesn't capture highly localized increases in certain countries or cities where COVID-19 death rates could be much higher.
      </i>
    </p>

    <hr>

    <h3>Should we be scared of dying of COVID-19?</h3>

    <p>
      The figures above can help you assess if COVID-19 is a threat to your life or your beloved ones.
      But there is no simple answer and it will depend on your perception of death in your day-to-day.
    </p>
   
