<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2>Death Rates</h2>
    </div>

    <hr>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos reiciendis, minus facere commodi velit aut, odit earum impedit rerum, error corrupti vero! Impedit assumenda, commodi sunt aperiam ducimus fugiat.

    <div class=" row">
      <div class=" col-lg-12">
        <div class=" card ">

          <div class="card-header card-header-success">
            <h3 class="card-title ">Average Death Statistics</h3>
            <div *ngIf="!since1stToggle" class="btn-group">
              <button mat-button class="float" type="button" color="primary" (click)="toggle()">
                <span>Since 1st COVID-19 death (on 11 January 2020)</span>
              </button>
              <button mat-raised-button class="float" type="button" color="primary">
                <span>Last 24 hours</span>
              </button>
            </div>
            <div *ngIf="since1stToggle" class="btn-group">
              <button mat-raised-button class="float" type="button" color="primary">
                <span>Since 1st COVID-19 death (on 11 January 2020)</span>
              </button>
              <button mat-button class="float" type="button" color="primary" (click)="toggle()">
                <span>Last 24 hours</span>
              </button>
            </div>
          </div>

          <div class=" card-body">
            <canvas id="DeathCausesChart" height="500"></canvas>
          </div>

          <div class="card-footer ">
            <div class="stats">
              Updated on {{totalDeathCausesLastUpdate}}
            </div>
            <div class="stats">
              Source: <a href="https://ourworldindata.org/causes-of-death"> Our World In Data</a> &
              <a
                href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
              >European Centre for Disease Prevention and Control</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr>
    <h3><u>COVID-19 Death Estimation</u></h3>

    <div class="col-lg-12">
      <div class="card ">

        <div class="card-header card-header-success">
          <h3 class="card-title">Death Estimation</h3>

          <div class="btn-group">

            <button mat-raised-button *ngIf="estimationSince1st"
              class="float" type="button" color="primary" style="background-color: rebeccapurple;">
              <span>Since 1st COVID-19 death (on 11 January 2020)</span>
            </button>
            <button mat-button *ngIf="estimationSince1st"
              class="float" type="button" color="primary" (click)="deathEstimationPeriodSwitch()">
              <span>Last 24 hours</span>
            </button>
            <button mat-button *ngIf="!estimationSince1st"
              class="float" type="button" color="primary" (click)="deathEstimationPeriodSwitch()">
              <span>Since 1st COVID-19 death (on 11 January 2020)</span>
            </button>
            <button mat-raised-button *ngIf="!estimationSince1st"
              class="float" type="button" color="primary" style="background-color: rebeccapurple;">
              <span>Last 24 hours</span>
            </button>

          </div>
          <br>

          <div class="btn-group">

            <button mat-raised-button *ngIf="deathEstimationLocation==='World'"
              class="float" type="button" color="primary">
              <span>World</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='World'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('World')">
              <span>World</span>
            </button>

            <button mat-raised-button *ngIf="deathEstimationLocation==='North America'"
              class="float" type="button" color="primary">
              <span>North America</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='North America'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('North America')">
              <span>North America</span>
            </button>

            <button mat-raised-button *ngIf="deathEstimationLocation==='Europe'"
              class="float" type="button" color="primary">
              <span>Europe</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='Europe'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('Europe')">
              <span>Europe</span>
            </button>

            <button mat-raised-button *ngIf="deathEstimationLocation==='Asia'"
              class="float" type="button" color="primary">
              <span>Asia</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='Asia'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('Asia')">
              <span>Asia</span>
            </button>

            <button mat-raised-button *ngIf="deathEstimationLocation==='Africa'"
              class="float" type="button" color="primary">
              <span>Africa</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='Africa'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('Africa')">
              <span>Africa</span>
            </button>

            <button mat-raised-button *ngIf="deathEstimationLocation==='Oceania'"
              class="float" type="button" color="primary">
              <span>Oceania</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='Oceania'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('Oceania')">
              <span>Oceania</span>
            </button>

            <button mat-raised-button *ngIf="deathEstimationLocation==='South America'"
              class="float" type="button" color="primary">
              <span>South America</span>
            </button>
            <button mat-button *ngIf="deathEstimationLocation!=='South America'"
              class="float" type="button" color="primary" (click)="deathEstimationSwitch('South America')">
              <span>South America</span>
            </button>

          </div>
        </div>

        <div class="card-body">
          <canvas id="covidDeathEstimationChart" height="400"></canvas>
        </div>

        <div class="card-footer ">
          <div class="stats">
            Updated on {{totalDeathCausesLastUpdate}}
          </div>
          <div class="stats">
            Source: &nbsp; <a href="https://www.un.org/en/development/desa/publications/world-population-prospects-2015-revision.html">
              United Nations &nbsp;
            </a> &
            <a
              href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
            >&nbsp; European Centre for Disease Prevention and Control</a>
          </div>
        </div>

      </div>
    </div>
