
<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <button mat-raised-button class="float-right" type="button" (click)="something()">
        <span icon="pan_tool">Help Us!</span>
      </button>
      <h2>Some COVID Stats</h2>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-category">Reported Coronavirus Infection Cases</h5>
          </div>
          <div class="card-body ">
            <canvas id=chartCases width="400" height="100"></canvas>
          </div>
          <div class="card-footer ">
            <div class="stats">
              Updated on {{casesLastUpdate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-category">Reported Coronavirus Death Cases</h5>
          </div>
          <div class="card-body ">
            <canvas id=chartDeaths width="400" height="100"></canvas>
          </div>
          <div class="card-footer ">
            <div class="stats">
              Updated on {{deathsLastUpdate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class=" row">
      <div class=" col-lg-12">
        <div class=" card ">

          <div class=" card-header">
            <h5 class=" card-category">Average Death Statistics Per Year</h5>
          </div>

            <div class=" card-body">
              <canvas id="CountryChart" height="400"></canvas>
            </div>

            <div class="card-footer ">
              <div class="stats">
              Updated on {{totalDeathCausesLastUpdate}}
              </div>
            </div>

        </div>
      </div>
    </div> -->

  </div>
</div>
