<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-border">
          <div class="card-header card-header-success">
            <h3 class="card-title">Reported COVID-19 Infection Cases Worldwide</h3>

            <ng-container *ngIf="!isMobile">
              <ng-container *ngFor="let view of views">
                <button mat-raised-button *ngIf="casesView===view"
                  class="float" type="button" color="primary">
                  <span>{{ view }}</span>
                </button>
  
                <button mat-button *ngIf="casesView!==view"
                  class="float" type="button" color="primary"
                  (click)="casesChangeView()">
                  <span>{{ view }}</span>
                </button>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isMobile">
              <mat-select [(value)]="casesView" (selectionChange)="casesChangeView($event.value)">
                <mat-option *ngFor="let view of views" [value]="view">
                  {{view}}
                </mat-option>
              </mat-select>
            </ng-container>

          </div>
          <div class="card-body ">
            <canvas id=chartCases width="400" height="400"></canvas>
          </div>
          <div class="card-footer">
            <div class="stats">
              Updated on {{ dataLastUpdate }}
            </div>
            <div class="stats">
              Source:
              <a
                href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
              >ECDC</a></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-border">
          <div class="card-header card-header-success">
            <h3 class="card-title">Reported COVID-19 Deaths Worldwide</h3>

            <ng-container *ngIf="!isMobile">
              <ng-container *ngFor="let view of views">
                <button mat-raised-button *ngIf="deathsView===view"
                  class="float" type="button" color="primary">
                  <span>{{ view }}</span>
                </button>
  
                <button mat-button *ngIf="deathsView!==view"
                  class="float" type="button" color="primary"
                  (click)="deathsChangeView()">
                  <span>{{ view }}</span>
                </button>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isMobile">
              <mat-select [(value)]="deathsView" (selectionChange)="deathsChangeView($event.value)">
                <mat-option *ngFor="let view of views" [value]="view">
                  {{view}}
                </mat-option>
              </mat-select>
            </ng-container>

          </div>
          <div class="card-body ">
            <canvas id=chartDeaths width="400" height="400"></canvas>
          </div>
          <div class="card-footer">
            <div class="stats">
              Updated on {{ dataLastUpdate }}
            </div>
            <div class="stats">
              Source:
              <a
                href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
              >ECDC</a></div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="col-md-12">
      <div class="card card-border">

        <div class="card-header card-header-success">
          <h3 class="card-title">COVID-19 Worldwide Statistics</h3>
          <mat-form-field>
            <mat-label style="color: rgb(218, 205, 205);">Filter by Country</mat-label>
            <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterCountry" placeholder="United States of America, France, China...">
          </mat-form-field>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of statsHeaders" (click)="sortTable(row)">
                  <div class="d-flex align-items-center" style="cursor: pointer;">
                    {{ row }} <i class="material-icons" style="font-size: 20px;">arrow_drop_down</i>
                  </div>
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of stats">
                  <td [ngClass]="{active: sortStatus.country.active}">{{ row.country }}</td>
                  <td [ngClass]="{active: sortStatus.totalCases.active}">{{ row.total_cases | number }}</td>
                  <td [ngClass]="{active: sortStatus.newCases.active}">{{ row.new_cases | number }}</td>
                  <td [ngClass]="{active: sortStatus.totalDeaths.active}">{{ row.total_deaths | number }}</td>
                  <td [ngClass]="{active: sortStatus.newDeaths.active}">{{ row.new_deaths | number }}</td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Updated on {{ dataLastUpdate }}
          </div>
          <div class="stats">
            Source:
            <a
              href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
            >ECDC</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>