
<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2>Some COVID Stats</h2>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header card-header-success">
            <h3 class="card-title">Reported Coronavirus Infection Cases</h3>
          </div>
          <div class="card-body ">
            <canvas id=chartCases width="400" height="100"></canvas>
          </div>
          <div class="card-footer">
            <div class="stats">
              Updated on {{casesLastUpdate}}
            </div>
            <div class="stats">
              Source:
              <a
                href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
              >European Centre for Disease Prevention and Control</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header card-header-success">
            <h3 class="card-title">Reported Coronavirus Death Cases</h3>
          </div>
          <div class="card-body ">
            <canvas id=chartDeaths width="400" height="100"></canvas>
          </div>
          <div class="card-footer">
            <div class="stats">
              Updated on {{deathsLastUpdate}}
            </div>
            <div class="stats">
              Source:
              <a
                href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
              >European Centre for Disease Prevention and Control</a></div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="col-md-12">
      <div class="card">

        <div class="card-header card-header-success">
          <h3 class="card-title">COVID-19 World Stats</h3>
          <mat-form-field>
            <mat-label>Filter by Country</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="USA, France, China...">
          </mat-form-field>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary">{{ statsHeaders[0] }}</th>
                <th class="text-primary">{{ statsHeaders[1] }}</th>
                <th class="text-primary">{{ statsHeaders[2] }}</th>
                <th class="text-primary">{{ statsHeaders[3] }}</th>
                <th class="text-primary">{{ statsHeaders[4] }}</th>
                <th class="text-primary">{{ statsHeaders[5] }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of stats">
                  <td>{{ row.country }}</td>
                  <td>{{ row.total_cases | number }}</td>
                  <td>{{ row.new_cases | number }}</td>
                  <td>{{ row.total_deaths | number }}</td>
                  <td>{{ row.new_deaths | number }}</td>
                  <td>{{ row.recovered | number }}</td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Updated on {{worldDataUpdatedOn}}
          </div>
          <div class="stats">
            Source:
            <a
              href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide"
            >European Centre for Disease Prevention and Control</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
