<div class="row">
    <div class="col-1 d-flex justify-content-center pt-2">
        <img src="../../assets/img/questioned-face.png" id="QuestionLogo" style="width: 43.2px; height: 72px;" />
    </div>
    <div class="col-11 px-0">
        <h4 class="question">
            {{ questionHeader }}
        </h4>
        <ng-content select=".extraQuestionHeader"></ng-content>
        <button mat-button *ngIf="!readMore" (click)="readMore = !readMore">
            Read More
        </button>

        <ng-content select=".readMore" *ngIf="readMore"></ng-content>
        <button mat-button *ngIf="readMore" (click)="readMore = !readMore">
            Read Less
        </button>
    </div>
</div>

<br *ngIf="!readMore" />
<hr />