<div class="p-sm-1 p-mb-5">
  <br />
  <hr style="margin-bottom: 100px; border: 1px solid #a9b0bb" />

  <div
    class="question-container d-flex justify-content-between align-items-center"
  >
    <button class="d-flex align-items-center" (click)="prevSurvey()">
      <span class="material-icons"> keyboard_arrow_left </span>
    </button>
    <div class="question-text p-1 w-100">
      {{ currentSurvey.question }}
    </div>
    <button class="d-flex align-items-center" (click)="nextSurvey()">
      <span class="material-icons"> keyboard_arrow_right </span>
    </button>
  </div>

  <div class="answers-section py-2 px-sm-1 px-md-5">
    <ng-container
      *ngFor="let item of currentSurvey.answers | keyvalue; let i = index"
    >
      <div
        class="progress position-relative d-flex my-2"
        style="height: 50px; border-radius: 20px"
        *ngIf="item.key != 'total'"
      >
        <div
          class="progress-bar"
          role="progressbar"
          style="border-radius: 20px; background-color: #81c285"
          [style.width]="
            getPercentOf(item.value, currentSurvey.answers['total']) + '%'
          "
        ></div>
        <div
          class="justify-content-start d-flex position-absolute w-100"
          style="height: 50px; border-radius: 20px"
        >
          <div
            style="font-weight: bolder"
            class="answer-text d-flex w-100 justify-content-between align-items-center pl-3"
          >
            <!-- left side Items -->
            <div>{{ formatAnswer(item.key, currentSurvey.question) }}</div>
            <!-- right side items -->
            <div class="pr-3">
              {{ getPercentOf(item.value, currentSurvey.answers["total"]) }} %
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div style="margin-top: 100px"></div>
</div>
