<div class="container-fluid">
  <h3>{{ data.indicator }} for {{ data.country }}</h3>
  <p>{{ descriptions[data.indicator] }}</p>
  <p>Average evolution for 2020 compared to 2019:
    <span [ngClass]="{
      'stringency': data.indicator === 'Stringency Score',
      'positive': (data.value > 0 && data.indicator !== 'Unemployment Rate') || (data.value < 0 && data.indicator === 'Unemployment Rate'),
      'negative': (data.value < 0 && data.indicator !== 'Unemployment Rate') || (data.value > 0 && data.indicator === 'Unemployment Rate')
    }">
    <span *ngIf="data.value > 0">+</span>{{ data.value | number }}%
  </span>
  </p>
  <p>The value was last computed on {{ data.updated | date }}</p>
  <canvas id="indicator-chart" width="400" height="225"></canvas>
  <i><small>Source: Trading Economics</small></i>
</div>