<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{ titleService.getTitle().split(':')[0] }}</u></h2>
    </div>

    <div>
      <img src="../../assets/img/questioned-face.png" align="left">
      <div class="question">
        <p class="question">
          How has your life changed during this pandemic? Join the discussion.
        </p>
        <button mat-button *ngIf="!readMore" (click)="readMore=!readMore">Read More</button>
        <div *ngIf="readMore">
          <p class="question">
            As each country responds to COVID-19 through different government measures, we're asking
            how society has been affected by these measures, and what we can learn.
          </p>
          <p class="question">
            To answer this question seriously, we need to understand first:
          </p>
          <ul>
            <li>Understand how individuals have been affected around the world.</li>
            <li>See the positive and negative effects of each government measure.</li>
            <li>See the long term effects of these measures.</li>
            <li>Weigh the goal of the measure against its effectiveness and consequences.</li>
            <li>Document learnings/key take aways?</li>
          </ul>
          <p class="question">
            CovidMeasures aim to provide some facts and perspectives to help your thinking.
            Feel free to contribute to the debate.
          </p>
          <button mat-button *ngIf="readMore" (click)="readMore=!readMore">Read Less</button>
        </div>
      </div>
    </div>

    <br>
    <hr>

    <div style="overflow-x:auto;">
      <table style="margin-left:auto; margin-right:auto;">
        <thead>
          <tr class="primary-header">
            <th class="header1" rowspan="2">Country</th>
            <th class="header1" colspan="2">Stringency</th>
            <th class="header1" colspan="2">GDP</th>
            <th class="header1" colspan="2">Uneployement</th>
            <th class="header1" colspan="2">Imports</th>
            <th class="header1" colspan="2">Exports</th>
          </tr>
          <tr class="secondary-header">
            <th class="header2">last</th><th class="header2">score</th>
            <th class="header2">last</th><th class="header2">average</th>
            <th class="header2">last</th><th class="header2">average</th>
            <th class="header2">last</th><th class="header2">average</th>
            <th class="header2">last</th><th class="header2">average</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td class="eco thick">{{ country }}</td>
            <td class="eco">{{ countriesData[country].stringency.last }}</td>
            <td class="eco">{{ countriesData[country].stringency.score }}</td>
            <td class="eco">{{ countriesData[country].gdp.last | number}}</td>
            <td class="eco">{{ countriesData[country].gdp.average | number}}</td>
            <td class="eco">{{ countriesData[country].unemployement.last | number}}</td>
            <td class="eco">{{ countriesData[country].unemployement.average | number}}</td>
            <td class="eco">{{ countriesData[country].imports.last | number}}</td>
            <td class="eco">{{ countriesData[country].imports.average | number}}</td>
            <td class="eco">{{ countriesData[country].exports.last | number}}</td>
            <td class="eco">{{ countriesData[country].exports.average | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="col-md-12">
      <div class="card card-border">

        <div class="card-header card-header-success">
          <h3 class="card-title">
            Impact of Government Covid-19 Measures</h3>
            <mat-form-field>
              <mat-label style="color: rgb(218, 205, 205);">Search by Country, Measure or key word</mat-label>
              <input  matInput (keyup)="applyFilter($event)">
            </mat-form-field>
        </div>

        <div class="row pt-3" [ngClass]="{'mobile-table-text': isMobile}">
          <div class="col-md-1"></div>
          <div class="col-md-7 text-left">
            <h4>Tell us about other impacts of Government Measures</h4>
            <p class="m-0 p-0">
              We want to hear both positive and negative impacts of those measures.<br>
              <!-- Vote for the most impactful in your life and the life of others around you (coming soon).<br> -->
              <b>
                An impact can be mental, physical, direct, or indirect - an impact is any change in your life.
              </b>
            </p>
          </div>
          <div class="col-md-3">
            <button id="addImpact" class="text-decoration-none text-dark nav-link float-right" 
              mat-raised-button type="button" color="primary"
            >
              <span class="span.size">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add an Impact
              </span>
            </button>
          </div>
          <div class="col-md-1"></div>
        </div>

        <hr>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of impactHeaders">
                  {{ row }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of collection | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{ row.location }}</td>
                  <td>{{ row.impact }}</td>
                  <td>{{ row.description }}</td>
                  <td>{{ row.measure }}</td>
                  <td *ngIf="row.source.startsWith('http')">
                    <a href="{{ row.source }}" target="_blank">{{ row.source.split('/')[2] }}</a>
                  </td>
                  <td *ngIf="!row.source.startsWith('http')">
                    {{ row.source }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            <!-- Put Updated On date -->
          </div>
          <div class="stats">
            Source: CovidMeasures Community 
          </div>
        </div>

      </div>
    </div>

  </div>
</div>