.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    height: 100%;
  }

::ng-deep .info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
::ng-deep .info h4 {
  margin: 0 0 5px;
  color: #777;
}
::ng-deep .legend {
  line-height: 24px;
  color: #555;
}
::ng-deep .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

::ng-deep .legend-align-center {
  display: flex;
  justify-content: start;
  align-items: center;
}