<div>
  <div class="card card-border">

    <div class="row card-header card-header-success d-flex justify-content-between">
      <div class="col-12 col-md-6">
        <h3 class="card-title">Reported COVID-19 Infection Cases & Deaths Per Day </h3>
      </div>
      <div class="evolution-btn-container col-12 col-md-6 row">
        <div class="col-12 col-sm-6 ">
          <button class="evolution-btn btn btn-success d-flex align-items-center text-left" data-toggle="modal"
            data-target="#compareEvolutionModal" (click)="setModalConfig('Switch Country','switch')">
            <span class="material-icons mr-2" style="font-size: 30px;">
              outlined_flag
            </span>
            Switch Country
          </button>
        </div>
        <div class="col-12 col-sm-6 ">
          <button class="evolution-btn btn btn-success d-flex align-items-center text-left" data-toggle="modal"
            data-target="#compareEvolutionModal" (click)="setModalConfig('Compare Country','compare')">
            <span class="material-icons mr-2" style="font-size: 30px;">
              add_circle
            </span>
            Add a Country
          </button>
        </div>
      </div>
    </div>
    <!-- Evolution Calendar Range Starts -->
    <div class="card m-0 p-0  px-sm-2 pt-4">
      <div class="card-body  m-0 p-0">
        <form [formGroup]="calendarForm">
          <div class="row">
            <div class="col-lg-2 col-md-4 d-flex justify-content-md-end justify-content-sm-start align-items-center">
              <h5 class="font-weight-bold">Evolution Range</h5>
            </div>
            <div class="col-lg-4 col-md-6 form-group my-0 py-0">
              <input type="text" class="form-control mb-3" laceholder="Dates Picker" bsDaterangepicker
                formControlName="dateRange" [bsConfig]="{containerClass:'theme-dark-blue', isAnimated: true }"
                (ngModelChange)="evolutionRangeChanged()" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Evolution Calendar Range Ends -->
    <div class="card-body p-1">
      <div class="d-flex p-0 m-0 pl-md-4">
        <button class="btn" [ngClass]="{'btn-success': !isPerMillion}" [disabled]="!isPerMillion"
          (click)="toPerMillion(false)">Total</button>
        <button class="btn" [ngClass]="{'btn-success': isPerMillion}" [disabled]="isPerMillion"
          (click)="toPerMillion(true)">Per 1 Million</button>
      </div>
      <div id="wrapper" class="m-0 pt-1 chart-pos">
        <canvas id="countryChartCases"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="stats">
        Updated on
        {{ evolutionUpdatedOn }}
      </div>
      <div class="stats">
        Source:
        <a
          href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">
          ECDC
        </a>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="compareEvolutionModal" tabindex="-1" role="dialog"
    aria-labelledby="compareEvolutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header  pb-0">
          <div class="d-flex align-items-center">
            <div class="modal-title " id="compareEvolutionModalLabel" >
              {{modalConfig.title}} :
            </div>
            <span class="material-icons ml-1" style="font-size: 30px;color: #e03b3e;" *ngIf="modalConfig.action == 'compare'">
              add_circle
            </span>
            <span class="material-icons ml-1" style="font-size: 30px;color: #e03b3e;" *ngIf="modalConfig.action == 'switch'">
              outlined_flag
            </span>
          </div>

          <button type="button" class="close" #closeModalbutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group d-flex align-items-center">
            <span class="material-icons text-primary">
              search
            </span>
            <input type="text" class="form-control" #modalInputField placeholder="United States, Canada, etc..."
              (keyup)="filterCompared($event)">
          </div>
          <ul class="list-group">
            <li class="list-group-item" style="cursor: pointer;" *ngFor="let country of searchedCountry"
              (click)="countrySelected(modalConfig.action, country.value, country.viewValue)"
              [ngClass]="{'active': country.value == comparedCountry.name }" data-dismiss="modal" aria-label="Close">
              {{country.viewValue}}</li>
            <!-- <li class="list-group-item"*ngFor="let country of countryList"></li> -->
          </ul>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>