<div class="sidebar-wrapper">
  <!-- <div *ngIf="isMobileMenu()">
  </div> -->
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="!menuItem.soon" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p style="color: black;"><b>{{menuItem.title}}</b></p>
            </a>
            <a *ngIf="menuItem.soon" class="nav-link" [routerLink]="[menuItem.path]">
              <i class="material-icons">{{menuItem.icon}}</i>
              <p style="color: grey;">{{menuItem.title}}</p>
          </a>
        </li>
    </ul>
</div>
