<div class="logo">
  <a href="http://www.covidmeasures.info" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/logo.png"/>
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a *ngIf="!menuItem.soon && !menuItem.join && !menuItem.contribute" class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p><b>{{menuItem.title}}</b></p>
      </a>
      <a *ngIf="menuItem.soon" class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p style="color: grey;">{{menuItem.title}}</p>
      </a>
      <a *ngIf="menuItem.join" class="nav-link" href="https://forms.gle/DmmnetQ76by64hF68" target="_blank">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p style="color: black;"><b>{{menuItem.title}}</b></p>
      </a>
    </li>
  </ul>
</div>
