<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card card-border">
        <div class="card-header card-header-success">
          <h3 class="card-title">
            International Travel Measures - Citizen Forum
          </h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-body card-country">
                          <mat-select [(value)]="countryView" (selectionChange)="changeCountryView($event.value)">
                              <mat-option *ngFor="let country of countriesList" [value]="country.value">
                                  {{ country.viewValue }}
                              </mat-option>
                          </mat-select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
              <div class="pl-5">
                <i class="material-icons size-padding" style="font-size: 150px;">flight_land</i>
              </div>
              <div>
                <p class="align-weight font-weight-bold">
                  Started on: 
                  <span *ngIf="travel.start" style="font-weight: 900;">{{ travel.start | date }}</span>
                  <span *ngIf="!travel.start" style="font-weight: 900;">UNAVAILABLE</span>
                </p>
                <p class="align-weight font-weight-bold">
                  Expected to End: 
                  <span *ngIf="travel.end" style="font-weight: 900;">{{ travel.end | date }}</span>
                  <span *ngIf="!travel.end" style="font-weight: 900;">UNAVAILABLE</span>
                </p>
                <p class="align-weight font-weight-bold">
                  Currently <span style="font-weight: 900;">{{ travel.status }}</span>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-11">
      <hr>
      <div class="row justify-content-center">
          <div class="col-md-11" >
            <disqus [identifier]="pageID" [url]="url"></disqus>
          </div>
      </div>
    </div>
</div>