<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{titleService.getTitle()}}</u></h2>
    </div>

    <p style="padding-bottom:1%;">
      {{ school_intro_1 }}
    </p>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="card col-12 col-md-6">
        <div class="card-header card-header-success">
          <h3 class="card-title">How many children impacted around the world?</h3>

          <div *ngIf="isMobile">
            <mat-label>Choose Region</mat-label>
            <mat-select [(value)]="schoolClosureRegion" (selectionChange)="schoolClosureChangeLocation($event.value)">
              <mat-option *ngFor="let location of locations" [value]="location.value">
                {{location.viewValue}}
              </mat-option>
            </mat-select>
          </div>

          <ng-container *ngIf="!isMobile">
            <ng-container *ngFor="let location of locations">
              <button mat-raised-button *ngIf="schoolClosureRegion===location.value"
                class="float" type="button" color="primary">
                <span>{{ location.viewValue }}</span>
              </button>

              <button mat-button *ngIf="schoolClosureRegion!==location.value"
                class="float" type="button" color="primary"
                (click)="schoolClosureChangeLocation(location.value)">
                <span>{{ location.viewValue }}</span>
              </button>
            </ng-container>
          </ng-container>

        </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>
                    Number of children impacted
                  </th>
                  <th>
                    Average duration of school closure
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="left">
                      {{numberChildrenImpacted | number}}
                    </td>
                    <td class="left">
                      {{averageDaysMissed | number}} days
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
          </div>

          <div class="card-footer ">
            <div class="stats">
              Updated on {{ schoolClosureTableUpdatedOn }}
            </div>
            <div class="stats">
              Source: CovidMeasures Community
            </div>
          </div>

      </div>
      <div class="col-md-3"></div>
    </div>

    <p style="padding-top:1%;">
      {{ school_graph_1_below }}
    </p>
    <p style="text-align: right;">
      <em>{{school_graph_1_below_last_update}}</em>
    </p>

    <div class="card">
      <div class="card-header card-header-success">
        <h3 class="card-title">Map - School Closure</h3>
      </div>
      <div class="card-body" style="height: 80vh;">
        <app-map-school-closure></app-map-school-closure>
      </div>
    </div>

    <hr>
    <h3>How COVID-19 compares to school closure impacts?</h3>
    <div class="card">
      <div class="card-header card-header-success">
        <h3 class="card-title ">School Closure & COVID-19 Ratios</h3>

        <div *ngIf="isMobile">
          <mat-label>Per</mat-label>
          <mat-select [(value)]="currentCovidCategory" (selectionChange)="changeCovidActiveDeath($event.value)">
            <mat-option *ngFor="let cat of covidCategories" [value]="cat.value">
              {{cat.value}}
            </mat-option>
          </mat-select>

          <hr>

          <mat-label>Choose Region</mat-label>
          <mat-select [(value)]="covidVSSchoolRegion" (selectionChange)="covidVSSchoolChangeRegion($event.value)">
            <mat-option *ngFor="let location of locations" [value]="location.value">
              {{location.viewValue}}
            </mat-option>
          </mat-select>
        </div>

        <ng-container *ngIf="!isMobile">

          <button mat-raised-button *ngIf="perCovidActive"
            class="float" type="button" color="primary">
            <span>Per COVID-19 Active Case</span>
          </button>
          <button mat-button *ngIf="perCovidActive"
            class="float" type="button" color="primary" (click)="changeCovidActiveDeath()">
            <span>Per COVID-19 Death</span>
          </button>
          <button mat-button *ngIf="!perCovidActive"
            class="float" type="button" color="primary" (click)="changeCovidActiveDeath()">
            <span>Per COVID-19 Active Case</span>
          </button>
          <button mat-raised-button *ngIf="!perCovidActive"
            class="float" type="button" color="primary">
            <span>Per COVID-19 Death</span>
          </button>

        <hr>

          <ng-container *ngFor="let location of locations">
            <button mat-raised-button *ngIf="covidVSSchoolRegion===location.value"
              class="float" type="button" color="primary">
              <span>{{ location.viewValue }}</span>
            </button>

            <button mat-button *ngIf="covidVSSchoolRegion!==location.value"
              class="float" type="button" color="primary"
              (click)="covidVSSchoolChangeRegion(location.value)">
              <span>{{ location.viewValue }}</span>
            </button>
          </ng-container>
        </ng-container>

      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  Number of children impacted
                </th>
                <th>
                  Cumulated school years missed
                </th>
              </thead>
              <tbody>
                <tr>
                  <td class="left">
                    {{impactedChildrenPer | number}}
                  </td>
                  <td class="left">
                    {{schoolYearsMissedPer | number}}
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>

          <div class="card-footer ">
            <div class="stats">
              Updated on {{ schoolClosureTableUpdatedOn }}
            </div>
            <div class="stats">
              Source: CovidMeasures Community
            </div>
          </div>

      </div>

    <p style="padding-top:1%;">
      {{ school_graph_2_below }}
    </p>
    <p style="text-align: right;">
      <em>{{school_graph_2_below_last_update}}</em>
    </p>

    <hr>

    <div class="col-md-12">
      <div class="card">

        <div class="card-header card-header-success">
          <h3 class="card-title">School Closure Status Per Country</h3>
          <mat-form-field>
            <mat-label style="color: rgb(218, 205, 205);">Search by Country</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="United States of America, France, China...">
          </mat-form-field>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary">{{ statsHeaders[0] }}</th>
                <th class="text-primary">{{ statsHeaders[1] }}</th>
                <th class="text-primary">{{ statsHeaders[2] }}</th>
                <th class="text-primary">{{ statsHeaders[3] }}</th>
                <th class="text-primary">{{ statsHeaders[4] }}</th>
                <th class="text-primary">{{ statsHeaders[5] }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of schoolClosure">
                  <td>{{ row.name }}</td>
                  <td>{{ row.children | number }}</td>
                  <td>{{ row.start }}</td>
                  <td>{{ row.end }}</td>
                  <td>{{ row.duration }}</td>
                  <td>{{ row.status }}</td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Updated on {{ schoolClosureTableUpdatedOn }}
          </div>
          <div class="stats">
            Source: CovidMeasures Community
          </div>
        </div>

      </div>
    </div>

    <hr>

    <div class="col-md-12">
      <div class="card">

        <div class="card-header card-header-success">
          <h3 class="card-title">List of School Closure Impacts</h3>
          <a mat-raised-button class="nav-link float-right" type="button"
            color="primary" href="https://forms.gle/TuLNu54Xr6vfYedq5" target="_blank"
          >
            <span>Add Your Contribution</span>
          </a>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of impactHeaders">
                  {{ row }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of impactTable">
                  <td>{{ row.impact }}</td>
                  <td>{{ row.desc}}</td>
                  <td>{{ row.link }}</td>
                  <td>{{ row.countries }}</td>
                  <td>
                    <a href="{{ row.source }}">{{ row.source_name }}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Source: CovidMeasures Community
          </div>
        </div>

      </div>
    </div>

    <hr>

    <p>
      The status of school closures worldwide was made possible thanks to the community of <b>CovidMeasures</b>.
      Please help to keep this database up-to-date. <a href="https://forms.gle/aFGWDjLbvXAm8ZkR7" target="_blank">Join our team </a>or
      just <a href="https://forms.gle/TuLNu54Xr6vfYedq5" target="_blank">contribute</a>
      by verifying its accuracy in your region.
    </p>

  </div>
</div>
