
<div class="main-content">
  <div class="container-fluid">

    <div layout-align="end end">
      <h2 *ngIf="isMobile"><u>{{titleService.getTitle()}}</u></h2>
    </div>

    <p>
      This page is currently being written. We need your help to gather relevant data from around the world. Please add your contribution.
    </p>

    <br>

    <div class="col-md-12">
      <div class="card">

        <div class="card-header card-header-success">
          <h3 class="card-title">Economic Stimulus Per Country</h3>
          <a mat-raised-button class="nav-link float-right" type="button"
            color="primary" href="https://forms.gle/354eHT52EMNVLWgr8" target="_blank"
          >
            <span>Add Your Contribution</span>
          </a>
        </div>

        <div class="card-body">

          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <th class="text-primary" *ngFor="let row of headers">
                  {{ row }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of table">
                  <td>{{ row.country }}</td>
                  <td>{{ row.title }}</td>
                  <td>{{ row.desc}}</td>
                  <td>{{ row.announce }}</td>
                  <td>{{ row.loans }}</td>
                  <td>{{ row.grants }}</td>
                  <td>{{ row.fiscal }}</td>
                  <td>{{ row.small }}</td>
                  <td>{{ row.large }}</td>
                  <td>{{ row.amount | currency:row.currency }}</td>
                </tr>
              </tbody>
            </table>
            </div>
    
        </div>

        <div class="card-footer">
          <div class="stats">
            Source: CovidMeasures Community
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
